@import '_responsive.less';

//homepage styles
//remove compare
body.catalog-product-view .product-info-main .product-addto-links a.tocompare, .block-compare, .actions-secondary {

display: none !important;

}
#store\.menu{
  .block.block-search{
    display: none !important;
  }
}

//header styles
.page-header{
  padding-top: 20px;
  .panel.wrapper{
    border-bottom: none;
    .panel.header{
      max-width: 1320px;

    }
  }
}

.minicart-wrapper{
  top: -120px;
  right: 20px;

}
.header.content{
  max-width: 1250px;
}

.greet.welcome{
  display: none;
}
.block.block-search{
  float: left;
  padding-left: 0;
}

.item.link.compare{
  float: right;

}

.ui-menu.ui-widget.ui-widget-content.ui-corner-all{
  text-align: center;
  position: relative;
}

.ui-corner-all{
  border-style: none !important;
}
.header.links{
  width: 100%;
  li{
    padding-top: 5px;
    float: right;
    a{
      font-size: 1.7rem;
      color: #363839;
    }
  }
}

.logo{
  display: block;
  margin: 0 auto;
  float: none;
  padding-bottom: 15px;
  img{
    margin: 0 auto;

  }
}
#store\.menu{
  background-color: white;
  .block.block-search{
    display: none;
  }

  .navigation{
    background-color: white;
    ul{
      li{
        a{
          padding-bottom: 20px;
          span{
            font-weight: 400;
            font-size: 3rem;
          }
        }
        ul{
          li{
            a{
              span{
                font-size: 2rem;
              }
            }
          }
        }
      }
    }
  }
}


//.block.block-search{
//  .block.block-content>.form.minisearch>.field.search{
//    .control{
//      input{
//        border-top: none;
//        border-left: none;
//        border-right: none;
//        border-bottom-color: black;
//        background-color: whitesmoke;
//      }
//    }
//  }
//}

.section-items.nav-sections-items{
    box-shadow: 0px 6px 24px -6px rgb(192, 187, 187);
}

@media only screen and (min-width: (@screen__m)){
  .navigation{
    ul{
      ul{
        position: absolute !important;
        li{
          padding-right: 0;
        }
      }
    }
  }
}
@media only screen and (max-width: (@screen__m - 1)) {

  .page-header{
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .action.nav-toggle{
    top: 38px;
  }
  .sections.nav-sections{
    overflow-x: hidden;
    background-color: white;
  }

  .header.content{
    padding-top: 15px;
  }

  .minicart-wrapper{
    position: absolute;
    top: 38px;
    right: 15px;
    margin-top: 0px;
  }

  .ui-menu.ui-widget.ui-widget-content.ui-corner-all{
    li{
      border: none;
      padding-bottom: 25px;
      font-size: 25px;
      a{
        padding: 8px 20px 8px 15px;
      }
    }
  }

  .section-items.nav-sections-items{
    height: 100%;
    box-shadow: none;


    #store\.menu{
      .navigation{
        padding-top: 40px;
      }

      .block.block-search{
        float: none;
        margin: 0 0 20px 0;
        text-align: center;
        display: block !important;

        .block.block-content>.form.minisearch>.field.search{

          .label{
            display:none;
          }
          .control{
            padding-top: 65px;

            input{
              max-width: 500px;
            }
          }
          #search{
            left: 0;
            margin: 0 0 0 0;
            position: relative;
            width: 75%;
          }
        }
      }
    }
    #store\.links{
      padding-top: 40px;
    }

    .nav-sections-item-content{
      margin: 0 0 0 0;
      padding: 0 0 0 0;

      .header.links{
        border: none;
        text-align: center;
        padding-bottom: 25px;

        li{
          float: none;

          a{
            border: none;
          }
        }

        .block.block-search{
          display: none;

        }
      }
    }
  }

  .ui-menu-item{
    padding-right: 0;
  }
  .minicart-wrapper{
    display: block;
  }
  .all-category{
    display: none;
  }
}

@media only screen and (max-width: 260px) {

  .minicart-wrapper{
    top: 20px;

    .action.showcart:before{
      font-size: 30px;
    }
  }
  .action.nav-toggle{
    top: 20px;
  }

  .nav-toggle:before{
    font-size: 25px;
  }
}

//main content styles

// #maincontent{
//   padding-left: 0px;
//   padding-right: 0px;
// }

.banner-item{
  margin: 0 !important;
}

.owl-stage-outer{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.columns{
  .column.main{
    padding-bottom: 0px;
  }
}
.custom-slider{
  padding-bottom: 0px !important;
}


//footer styles

.social{
  .social-links{
    .social-links-container{
      li{
        .social-links{
          img{
            width: 30px;
          }
        }
      }
    }
  }
}

.footer.content{
  border: none;

  .block.newsletter{
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 45px !important;
    max-width: 500px;
    margin: 0 auto;
    float:none;
    .content{
      .form.subscribe{
        .actions{
          button{
            background-color: #363839 !important;
            border: 1px solid #363839;
          }
        }
        .field.newsletter{
          .control:before{
            content: none;
          }
          .control{
            input{
              padding-left: 10px;
              border-top: none;
              border-left: none;
              border-right: none;
              border-bottom-color: black;
              background-color: whitesmoke;
              outline: none;
            }
          }
        }
      }
    }
    .message{
      text-align: center;
      padding-bottom: 20px;
      padding-top: 20px;
      font-size: 2rem;
      color: #363839;
    }
  }
  .social{
    .social-links-container{
      float: right;
      li{
        padding-bottom: 10px;
        text-align: right;
        .social-links{
          span{
            color: #363839;
            font-size: 2rem;
          }
          img{
            width: 45px;
            padding-bottom: 6px;
            vertical-align: middle;
          }
        }
      }
    }
  }
  .footer.links{
    margin-bottom: 0;
    li{
      padding-top: 12px;
      padding-bottom: 12px;
    }
    a{
      color: #363839;
      font-size: 2rem;
    }
  }
}

@media only screen and (max-width: (@screen__m - 1)) {

  .footer.content{
    padding: 0 0 0 0;

    .links{
      li{
        margin: 0;
        border-top: 1px solid #cecece;
        text-align: center;
        padding-bottom: 10px;
        padding-top: 10px;
      }
    }
  }

  .social{
    .social-links-container{
      float: none !important;
      text-align: center;
      margin-bottom: 20px !important;
      margin-top: 10px !important;
      li{

        display: inline-block;
        padding-left: 4%;
        padding-right: 4%;

        .social-links{

          span{
            display: none;
          }
          img{
            padding-bottom: 0;

          }
        }
      }
    }
  }
}

@media only screen and (max-width: 315px) {

  .social{
    .social-links-container{
      li{
        padding-left: 3%;
        padding-right: 3%;
        padding-bottom: 5px;
        .social-links{
          img{
            width: 30px;
          }
        }
      }
    }
  }
}

//catalog page styles
.actions-primary{
  form{
    .action.tocart.primary{
      background-color: #363839 !important;
      border: 1px solid #363839;
    }
  }
}

.sidebar.sidebar-main{
  padding-left: 20px;
}


//product page styles
.box-tocart{
  .fieldset{
    .actions{
      .action.primary.tocart{
        background-color: #363839 !important;
        border: 1px solid #363839;
      }
    }
  }
}

// .page-title-wrapper{
//   padding-left: 20px;
// }
//
// .product.media{
//   padding-left: 20px;
// }
//
// .product.info.detailed{
//   padding-left: 20px;
// }

//login page styles


.control{
  input{
    background-color: whitesmoke;
    border: none;
    font-size: 10pt;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
}

.action.login.primary{
    background-color: #363839;
        
}

.page-title{
    padding-top: 20px;
}

//advanced search styles
.action.search.primary{
    background-color: #363839;
}

//contact us styles
.action.submit.primary{
    background-color: #363839;
}




